@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

$color-Red: hsl(1, 90%, 64%);
$color-Blue: hsl(219, 85%, 26%);
$color-White: hsl(0, 0%, 100%);
$color-Very-light-grayish-blue: hsl(210, 60%, 98%);
$color-Light-grayish-blue-1: hsl(211, 68%, 94%);
$color-Light-grayish-blue-2: hsl(205, 33%, 90%);
$color-Grayish-blue: hsl(219, 14%, 63%);
$color-Dark-grayish-blue: hsl(219, 12%, 42%);
$color-Very-dark-blue: hsl(224, 21%, 14%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-y: visible;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: $color-Very-light-grayish-blue;
}

.container {
  max-width: 90%;
  background-color: $color-White;
  padding: 0 1rem;
  margin: 2rem 0;
}

.container-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem 0;

  & .notification-heading {
    font-weight: 800;
    color: $color-Very-dark-blue;
    font-size: 1.6rem;
    & strong {
      background-color: $color-Blue;
      color: $color-White;
      padding: 0.1rem 1rem;
      border-radius: 0.5rem;
      &:hover {
        cursor: pointer;
        color: $color-Blue;
      }
    }
  }

  & .read-all {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: $color-Grayish-blue;
  }
}

.notification-box {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  & .notification-box-1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
    & img {
      max-width: 15%;
    }
    & .notification-text {
      color: $color-Grayish-blue;
      font-size: 1.2rem;
      line-height: 1.5;
      font-weight: 500;
      & .avatar-name {
        color: $color-Very-dark-blue;
        font-weight: 800;
        cursor: pointer;
        &:hover {
          color: $color-Blue;
        }
      }
    }
  }

  & .private-message {
    padding: 1rem;
    border: 1px solid $color-Light-grayish-blue-2;
    color: $color-Grayish-blue;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 700;
    margin-left: 5rem;
    &:hover {
      cursor: pointer;
      background-color: $color-Light-grayish-blue-1;
    }
  }
}

.notification-box.unread {
  background-color: $color-Very-light-grayish-blue;
}

@media (min-width: 476px) {
  html {
    font-size: 68.75%;
  }
  .container {
    max-width: 70%;
  }

  .notification-box {
    .notification-box-1 {
      img {
        width: 5%;
      }
    }
  }
}

@media (min-width: 769px) {
  html {
    font-size: 75%;
  }
  .container {
    max-width: 60%;
  }
  .notification-box {
    .notification-box-1 {
      img {
        width: 10%;
      }
    }
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 81.25%;
  }
  .container {
    max-width: 50%;
  }

  .notification-box .private-message {
    margin-left: 3rem;
  }
}
